@charset "UTF-8";


/* Boucherie */

#boucherie {
    padding: 8%;
    padding-top: 6%;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
}

#boucherie img {
    margin: 3%;
    margin-left: 0%;
    border-radius: 10px;
    width: 30%;
    display: grid (3, 1fr);
}

.fin-gras img {
    margin: auto !important;
    width: 10% !important;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: block;
}

.random-size-image {
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.boucherie h1 {
    color: #242021;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline #860605;
    padding-bottom: 1%;
    text-align: center;
}

.boucherie h2 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

.boucherie h4 {
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 30px;
    text-align: center;
}


/* Especes */

#especes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 8%;
    padding-top: 0%;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
}

#especes > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* ou ajustez selon la mise en page souhaitée */
    padding: 2%;
}

#especes > div:nth-child(odd) img {
    float: left;
    margin-right: 7%;
}

#especes > div:nth-child(even) img {
    float: right;
    margin-left: 7%;
}

#especes img {
    width: 50%;
    max-width: 500px; /* Limitez la taille des images */
    object-fit: cover;
}

#especes h4 {
    font-size: 30px;
    margin: 0 20px;
}


/* Responsive Web */

@media (max-width: 450px) {

    .boucherie {
        padding-top: 35%;
    }

    .boucherie h1 {
        font-size: 50px;
    }

    .boucherie h2 {
        font-size: 40px;
        padding-bottom: 10%;
    }

    #boucherie img {
        width: 100%;
    }

}
