@charset "UTF-8";

/* Epicerie */

#epicerie {
    padding: 8%;
    padding-top: 6%;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
}

#epicerie img {
    margin: 1%;
    margin-left: 0%;
    border-radius: 10px;
    width: 30%;
    display: grid (3, 1fr);
    margin-right: 2%;
}

.epicerie h1 {
    color: #242021;
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline #860605;
    padding-bottom: 1%;
}

.epicerie h2 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 50px;
}

.epicerie h4 {
    color: rgb(167, 167, 167);
    font-weight: 100;
    font-size: 30px;
}

/* Responsive Web */

@media (max-width : 435px) {

    .welcome {
        padding-top: 60%;
        padding-bottom: 60%;
    }

    .welcome h1 {
        font-size: 40px;
    }

    #about {
        padding: 10%;
        padding-top: 20%;
    }

    .about h1 {
        font-size: 50px;
    }
}