@charset "UTF-8";


/* Epicerie */

#epicerie {
    padding: 8%;
    padding-top: 6%;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
}

#epicerie .image-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%;
    justify-content: center;
}

#epicerie .image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#epicerie .image-grid .tall {
    grid-row: span 2;
}

#epicerie .image-grid .wide {
    grid-column: span 2;
}

#epicerie .image-grid .tall-wide {
    grid-row: span 2;
    grid-column: span 2;
}

.epicerie h1 {
    color: #242021;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline #860605;
    padding-bottom: 1%;
    text-align: center;
}

.epicerie h2 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

.epicerie h4 {
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 2%;
}

.image img {
    margin: auto;
    display: flex;
    width: 30%;
}


/* Responsive Web */

@media (max-width: 450px) {

    .epicerie {
        padding-top: 35%;
    }

    .epicerie h1 {
        font-size: 50px;
    }

    .epicerie h2 {
        font-size: 40px;
        padding-bottom: 10%;
    }

    #epicerie img {
        width: 100%;
    }

}
