@charset "UTF-8";


/* Welcome */

.welcome {
    background-image: linear-gradient(#ffffff70 33%, rgb(255, 255, 255) 66%, rgb(255, 255, 255) 100%), url(/accueil/background.gif);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15%;
    padding-bottom: 6%;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

.welcome img {
    width: 50%;
    z-index: 11;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}


/* About */

#about {
    padding: 8%;
    padding-top: 0%;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 700ms;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.image-grid .carte-fidelite {
    grid-column: 3;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: start;
}

.about {
    padding-bottom: 5%;
}

.about h1 {
    color: #242021;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline #860605;
    padding-bottom: 1%;
    text-align: center;
}

.about h2 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

.about h4 {
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 30px;
    text-align: center;
}


/* Breeders */

#breeders {
    padding: 8%;
    padding-top: 0%;
}

#breeders h1 {
    text-align: center;
    padding: 5%;
    color: #242021;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline #860605;
}

.cards {
    padding-bottom: 10%;
}

.breeders img {
    width: 25%;
    border-radius: 10px;
    float: left;
    margin-right: 5%;
    max-height: 450px;
}

.breeders h2 {
    font-size: 50px;
    font-weight: bold;
}

.breeders h4 {
    font-size: 30px;
    font-weight: 500;
}


/* Location */

#location {
    background-color: rgb(231, 231, 231);
}

.location {
    padding: 8%;
    padding-bottom: 14%;
}

.location h1 {
    color: #242021;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 1%;
    text-align: center;
}

.location h4 {
    color: rgb(167, 167, 167);
    font-weight: 100;
    font-size: 30px;
    text-align: center;
}

.location iframe {
    border-radius: 10px;
    margin-right: 7%;
    float: left;
}


/* About */

#history {
    padding: 8%;
}

#history img {
    margin: auto;
    border-radius: 10px;
    width: 40%;
    display: block;
    align-items: center;
}

.history {
    padding-bottom: 5%;
}

.history h1 {
    color: #242021;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 1%;
    text-align: center;
}

.history h4 {
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 30px;
    text-align: center;
}


/* Fidelite */

#fidelite {
    padding: 8%;
}

#fidelite img {
    margin: auto;
    border-radius: 10px;
    width: 40%;
    display: block;
    align-items: center;
}

.fidelite {
    padding-bottom: 5%;
}

.fidelite h1 {
    color: #242021;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 1%;
    text-align: center;
}


/* Responsive Web */

@media (max-width: 450px) {

    .welcome {
        padding-top: 60%;
        padding-bottom: 60%;
        background-position: center;
    }

    .welcome img {
        width: 100%;
    }

    .about h1 {
        font-size: 50px;
    }

    #about img {
        width: 100%;
    }

    .image-grid {
        display: inherit;
    }

    #breeders {
        padding-top: 10%;
    }

    #breeders h2 {
        padding-bottom: 10%;
    }

    #breeders img {
        width: 100%;
        padding-bottom: 3%;
    }

    .cards {
        padding-bottom: 20%;
    }

    #breeders h1 {
        padding-bottom: 20%;
    }

    .location iframe {
        border-radius: 10px;
        width: 100%;
        margin-bottom: 5%;
    }

    #history img {
        width: 100%;
    }

}
