@charset "UTF-8";

/* Traiteur */

#traiteur {
    padding: 8%;
    padding-top: 6%;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
}

#traiteur img {
    margin: 1%;
    margin-left: 0%;
    border-radius: 10px;
    width: 30%;
    display: grid (3, 1fr);
    margin-right: 2%;
}

.traiteur h1 {
    color: #242021;
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline #860605;
    padding-bottom: 1%;
}

.traiteur h2 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 50px;
}

.traiteur h4 {
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 30px;
}

/* Responsive Web */

@media (max-width : 435px) {

    .traiteur {
        padding-top: 20%;
    }

    .traiteur h1 {
        font-size: 50px;
    }

    .traiteur h2 {
        font-size: 40px;
        padding-bottom: 10%;
    }

    #traiteur img {
        width: 100%;
    }
    
}