@charset "UTF-8";


/* Traiteur */

#traiteur {
    padding: 8%;
    padding-top: 6%;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes de taille égale */
    gap: 10px; /* Espacement entre les images */
    padding: 10px; /* Marges internes */
}

.image-grid img {
    width: 100%; /* Les images occupent toute la largeur de leur case */
    height: auto; /* Maintient les proportions */
    border-radius: 10px; /* Coins arrondis */
}

#traiteur .carte {
    margin: auto;
    width: 30%;
    align-items: center;
    display: block;
    border-radius: 10px;
    padding-bottom: 5%;
}

.traiteur h1 {
    color: #242021;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline #860605;
    padding-bottom: 1%;
    text-align: center;
}

.traiteur h2 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

.traiteur h4 {
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    padding-bottom: 5%;
}


/* Responsive Web */

@media (max-width: 435px) {

    .traiteur {
        padding-top: 20%;
    }

    .traiteur h1 {
        font-size: 50px;
    }

    .traiteur h2 {
        font-size: 40px;
        padding-bottom: 10%;
    }

    #traiteur img {
        width: 100%;
    }

}
