@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body,
html {
    padding: 0;
    margin: 0;
    border: 0;
    max-width: 100%;
    background: white;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar:hover {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #860605;
}

::-webkit-scrollbar-thumb {
    background: #d60000;
    border-radius: 20px;
    transition: 1s;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
    transition: 1s;
}


/* Span */

.garnier {
    text-decoration: underline #860605;
    font-weight: 500;
}

.weight {
    font-weight: 100;
}

.animation {
    color: #ff0000;
}


/* Navbar */

nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-top: 10px;
    margin-top: 50px;
    height: 50px;
    background-color: #fff;
    top: 0px;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

nav a {
    text-decoration: none;
}

nav #list {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 0;
    padding: 0;
}

nav #list li a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 20px;
    font-size: 19px;
    transition: 1s;
}

nav #list li a:hover {
    color: #ff0000;
    list-style-type: none;
    border-radius: 20px;
    font-size: 23px;
    transition: 1s;
}

nav #list img {
    width: 4%;
}

nav #list li {
    text-align: left;
}

nav #list li:not(:last-child) {
    margin-right: 15px;
}

ul {
    list-style: none;
    margin: 0;
}

a,
a:link,
a:visited,
a:hover {
    text-decoration: none;
}

.banner {
    position: sticky;
    top: 0;
    padding: 2rem 0;
    margin-top: 6%;
    text-align: center;
    color: white;
    background-color: #860605;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}


/* Footer */

footer {
    background-color: #860605;
}

.footerChild,
.footerChild2 {
    text-align: center;
    color: #ffffff;
    padding: 0.5%;
}

.footerChild a {
    margin: 1%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 20px;
    font-size: 19px;
    transition: 1s;
}

.footerChild a:hover {
    color: #ff0000;
    list-style-type: none;
    border-radius: 20px;
    font-size: 23px;
    transition: 1s;
}

.footerChild p {
    margin: 1%;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 19px;
    transition: 1s;
}

.footerChild2 a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 20px;
    font-size: 19px;
    transition: 1s;
}

.footerChild2 a:hover {
    color: #ff0000;
    list-style-type: none;
    border-radius: 20px;
    font-size: 23px;
    transition: 1s;
}

.footerChild2 p {
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 19px;
    transition: 1s;
}


/* Responsive Web Général */

@media (max-width: 435px) {

    nav {
        padding: 6%;
        padding-top: 0%;
        text-align: center;
        top: 0;
        width: 100%;
    }

    nav #list {
        flex-wrap: wrap;
    }

    nav #list li a {
        font-size: 13px;
        white-space: normal;
    }

    .banner {
        padding-top: 30%;
    }

    .banner h1 {
        margin: 1%;
    }

    footer {
        padding: 6%;
    }

}


/* Animations */

@keyframes zoom {
    0% {
        filter: opacity(0%);
        transform: translate(0px, 0px);
    }

    50% {
        filter: opacity(100%);
        transform: translate(0px, -50px);
    }

    100% {
        filter: opacity(100%);
        transform: translate(0px, -50px);
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}
